black==25.1.0
certifi==2025.4.26
charset-normalizer==3.4.1
click==8.1.8
idna==3.10
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.7
python-dotenv==1.1.0
pywebio==1.8.4
requests==2.32.3
tornado==6.4.2
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
urllib3==2.4.0
user-agents==2.2.0
